<% provide(:title, 'All categories') %>
<h1>All categories</h1>
<%=link_to "Create new category ", new_admin_category_path, class: "btn btn-lg btn-primary"%>

<%= will_paginate %>

<ul class="users">
<div class="container">         
	  		<table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>Category</th>
		        <th>Delete</th>
		        <th>Edit</th>
		        <th>Get all words</th>
		      </tr>
		    </thead>
		    <tbody>
		    <% @categories.each do |category| %>
		      <tr>
		        <td><%= category.name %></td>
		        <td><%= link_to "Delete", admin_category_path(category), method: :delete,
                                  data: { confirm: "Are you sure?" }, class: "btn btn-success" %></td>
		        <td><%= link_to "Edit",edit_admin_category_path(category), class: "btn btn-success"%></td>
				<td><%= link_to "Get words of category", [:admin, category, :words], class: "btn btn-success"%></td>
		      </tr>
		      <% end %>
		     </tbody>
		  	</table>
		</div>
</ul>

<%= will_paginate %>